.lm-image-picker-image-cont .jcrop-holder {
  margin-left: auto;
  margin-right: auto;
}

.lm-image-picker-cont {
  position: relative;
}
.lm-image-picker-processing {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  padding-top: 20px;
  text-align: center;
}
.lm-image-picker-btns {
  text-align: center;
}
.lm-image-picker-btn-style {
  cursor: pointer;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.lm-image-picker-upload-section, .lm-image-picker-by-url-section {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
.lm-image-picker-upload-section input, .lm-image-picker-by-url-section input {
  text-align: center;
}
.lm-image-picker-image-cont {
  text-align: center;
}
.lm-image-picker-image, .lm-image-picker-image-dimensions {
  display: block;
  width: 100%;
}
.lm-image-picker-image-actual-dimensions {
  position: absolute;
  left: -9999px;
}
.lm-image-picker-image-save-btn {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}